@use "sass:math";
@import "../functions/strip-unit.scss";

@mixin linear-lock($min-value, $min-screen-width, $max-value, $max-screen-width, $property, $unit) {
  $min-value: strip-unit($min-value);
  $min-screen-width: strip-unit($min-screen-width);
  $max-value: strip-unit($max-value);
  $max-screen-width: strip-unit($max-screen-width);

  $k:  math.div($max-value - $min-value, $max-screen-width - $min-screen-width);
  $x: 100vw;
  $b: math.div($max-screen-width*$min-value - $min-screen-width*$max-value, $max-screen-width - $min-screen-width);

  #{$property}: clamp(#{$min-value}#{$unit}, #{$k * $x} + #{$b}#{$unit}, #{$max-value}#{$unit});
}