@use "sass:math";

.switch {
  // sizes
  $switch-size: 48px;                                                // can change
  $bar-width: 38px;                                                  // can change
  $bar-height: 20px;                                                 // can change
  $ratio-of-inner-offset-to-bar-height: math.div(2.53px, 19px);      // can change
  $border-raidus: math.ceil(math.max($bar-width, $bar-height) * 2);  // don't change
  $inner-offset: $ratio-of-inner-offset-to-bar-height * $bar-height; // don't change
  $circle-size: $bar-height - $inner-offset * 2;                     // don't change

  // colors
  $bar-off-color: #0A0B20;                                         // can change
  $bar-on-color: $white;                                             // can change
  $circle-off-color: $accent-secondary;                              // can change
  $circle-on-color: $accent;                                         // can change

  position: relative;
  width: rem($switch-size);
  height: rem($switch-size);
  cursor: pointer;
  // bar
  &::before {
    content: "";
    position: absolute;
    left: rem(math.div($switch-size, 2) - math.div($bar-width, 2));
    top: rem(math.div($switch-size, 2) - math.div($bar-height, 2));
    border-radius: rem($border-raidus);
    width: rem($bar-width);
    height: rem($bar-height);
    background-color: $bar-off-color;
  }
  // circle
  &::after {
    content: "";
    position: absolute;
    left: rem(math.div($switch-size, 2) - math.div($bar-width, 2) + $inner-offset);
    top: rem(math.div($switch-size, 2) - math.div($circle-size, 2));
    display: block;
    transition: left 200ms ease;
    border-radius: 50%;
    width: rem($circle-size);
    height: rem($circle-size);
    background-color: $circle-off-color;
  }
  // switch_turn_on
  &_turn_on {
    // bar
    &::before {
      background-color: $bar-on-color;
    }
    // circle
    &::after {
      left: rem(math.div($switch-size, 2) + math.div($bar-width, 2) - $circle-size - $inner-offset);
      background-color: $circle-on-color;
    }
  }
}