.mobile-menu {
  overflow: hidden;
  transition: height 200ms ease-out,
              padding-top 0ms linear 200ms;
  box-sizing: border-box;
  padding-top: 0;
  width: 100vw;
  height: 0;
  background-color: $white;

  @import "./_open/mobile-menu_open.scss";
  @import "./_theme/mobile-menu_theme_dark.scss";
  
  @import "./__scroll-area/mobile-menu__scroll-area.scss";
}