.title {
  font-family: "Cormorant SC";
  @include linear-lock(rem(46px), rem($min-screen-width), rem(60px), rem($lg), font-size, rem);
  line-height: em(73px, 60px);
  color: $default-text-color;

  &_h2 {
    @include linear-lock(rem(42px), rem($min-screen-width), rem(48px), rem($lg), font-size, rem);
  }

  &_center {
    text-align: center;
  }

  &_theme_dark {
    color: #FFFFFF;
  }
}