.section-statistics {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 rem(15px);
  @include linear-lock(rem(80px), rem(320px), rem(121px), rem(1999.98px), margin-bottom, rem);

  &_theme_dark {
    .section-statistics__strip {
      background-color: #D3BA58;
    }

    .section-statistics__number {
      color: #000000;
    }

    .section-statistics__item-desc {
      color: #000000;
    }
  }

  &__inner {
    flex: 1 1 auto;
    max-width: rem(1190px);
    display: flex;
    flex-direction: column;
  }

  &__strip {
    display: flex;
    flex-wrap: wrap;
    padding: rem(28px) rem(84px) 0;
    background-color: #5D7B87;

    @media (max-width: 767.98px) {
      flex-direction: column;
      width: 100%;
    }

    &_left {
      align-self: flex-start;
      margin-bottom: rem(70px);
      margin-left: rem(-10000px);
      @include linear-lock(rem(30px), rem(767.98px), rem(84px), rem(1999.98px), padding-right, rem);
      @include linear-lock(rem(10000px), rem(767.98px), rem(10000px + 84px), rem(1999.98px), padding-left, rem);
    }

    &_right {
      align-self: flex-end;
      justify-content: flex-end;
      margin-right: rem(-10000px);
      @include linear-lock(rem(30px), rem(767.98px), rem(84px), rem(1999.98px), padding-left, rem);
      @include linear-lock(rem(10000px), rem(767.98px), rem(10000px + 84px), rem(1999.98px), padding-right, rem);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    @include linear-lock(rem(30px), rem(767.98px), rem(50px), rem(1999.98px), margin-right, rem);
    margin-bottom: rem(28px);

    &_last {
      margin-left: 0;
      margin-right: 0;
    }

    &_right {
      @media (max-width: 767.98px) {
        flex-direction: row-reverse;
        margin-right: 0;
        @include linear-lock(rem(30px), rem(767.98px), rem(50px), rem(1999.98px), margin-left, rem);
      }
    }
  }

  &__number {
    margin-right: rem(15px);
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem(50px);
    line-height: 100%;
    color: #EEECD5;

    &_right {
      @media (max-width: 767.98px) {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }

  &__item-desc {
    font-family: Montserrat;
    font-weight: 300;
    font-size: rem(14px);
    line-height: 120%;
    color: #FFFFFF;

    &_right {
      @media (max-width: 767.98px) {
        text-align: right;
      }
    }
  }
}