.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: {
    left: rem(40px);
    right: rem(40px);
    top: rem(37px);
    bottom: rem(97px);
  }
  background: #5D7B87;
  backdrop-filter: blur(rem(15px));
  color: #FFFFFF;

  @media (max-width: 767.98px) {
    padding-bottom: rem(37px)
  }
}
.feedback-form__text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 130%;
  margin-bottom: rem(49px);
}
.feedback-form__input {
  margin-bottom: rem(30px);
}
.feedback-form__button {
  margin-top: rem(90px);

  @media (max-width: 767.98px) {
    margin-top: rem(30px);
  }
}