&_cross {
  & .burger__line {
    transition: top 0.5 * $duration ease, 
              transform 0.5 * $duration ease 0.5 * $duration;
    &_number_1 {
      top: rem(0.5 * $burger-size - 0.5 * $line-height);
      transform: rotate(45deg);
    }
    &_number_2 {
      opacity: 0;
      transition: none;
    }
    &_number_3 {
      top: rem(0.5 * $burger-size - 0.5 * $line-height);
      transform: rotate(-45deg);
    }
  }
}