.burger {
  // sizes
  $burger-size: 48px;
  $line-width: 36px;
  $line-height: 4px;
  $gap: 4px;

  // colors
  $color: $black;

  // transition
  $duration: 200ms;

  position: relative;
  width: rem($burger-size);
  height: rem($burger-size);
  cursor: pointer;

  @import "./_cross/burger_cross.scss";
  @import "./_theme/burger_theme_dark.scss";

  @import "./__line/burger__line.scss";
}