@import "../functions/em.scss";

// Mobile-first
// $sm: em(576px);
// $md: em(768px);
// $lg: em(992px);
// $xl: em(1200px);
// $xxl: em(1400px);

// Desktop-first
$min-screen-width: 320px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1399.98px;