.section-about {

  &_theme_dark {
    .section-about {
      &__big-o {
        &_theme_light {
          display: none;
        }
        &_theme_dark {
          display: block;
        }
      }

      &__main-text {
        color: #FFFFFF;
      }
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 rem(15px);
    max-width: rem(1190px);

    @media (max-width: em($md)) {
      flex-direction: column-reverse;
    }
  }

  &__image {
    display: block;
    @include linear-lock(rem(30px), rem($md), rem(62px), rem($lg), margin-right, rem);
    @include linear-lock(rem(0), rem($md), rem(10px), rem($lg), padding-left, rem);
    @include linear-lock(rem(480px), rem($md), rem(550px), rem($lg), max-width, rem);
    height: auto;

    @media (max-width: em($md)) {
      margin-right: 0;
      align-self: flex-end;
      max-width: 100%;
    }
  }

  &__text {
    padding-top: rem(17px);
    max-width: rem(469px);

    @media (max-width: em($md)) {
      margin-bottom: 30px;
      padding-top: 0;
      width: 80%;
      max-width: unset;
    }

    @media (max-width: em($sm)) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: em(19px, 48px);
  }

  &__main-text {
    @include linear-lock(em(30px, 14px), rem($md), em(71px, 14px), rem($lg), margin-bottom, rem);
    font-family: Montserrat;
    font-size: rem(14px);
    line-height: 150%;
  }

  &__big-o {
    position: absolute;
    left: prc(536px, 1190px);
    top: rem(-74px);
    z-index: -1;

    @media (max-width: em($md)) {
      left: 10%;
      top: rem(-40px);
    }

    @media (max-width: em($sm)) {
      display: block;
      width: 70%;
    }

    &_theme_dark {
      display: none;
    }
  }
}